services:
  redis:
    image: redis:7
    ports:
      - "6379:6379"

  web:
    build: .
    depends_on:
      - redis
    ports:
      - "8080:8080"
    environment:
      AUTH_URL: "https://religiose-multinodular-jaqueline.ngrok-free.dev"
      MAIN_URL: "https://shabbiest-continuately-zulma.ngrok-free.dev"

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - web
